<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="sumanbh7@gmail.com">
    <base href="/">
    <title>Phoenix Amazon</title>
    <link id="favicon" rel="icon" type="image/png" sizes="64x64" href="<%= static_path(@conn, "/js/favicon.ico") %>"/>
    <link href="<%= static_path(@conn, "/js/styles.bundle.css") %>" rel="stylesheet"/>
  </head>

  <body>
    <app-root>
      <div class="loader"></div>
    </app-root>

    <script type="text/javascript" src="<%= static_path(@conn, "/js/inline.bundle.js") %>"></script><script type="text/javascript" src="<%= static_path(@conn, "/js/polyfills.bundle.js") %>"></script><script type="text/javascript" src="<%= static_path(@conn, "/js/scripts.bundle.js") %>") %>></script><script type="text/javascript" src="<%= static_path(@conn, "/js/vendor.bundle.js") %>" ></script><script type="text/javascript" src="<%= static_path(@conn, "/js/main.bundle.js") %>"></script>
  </body>
</html>
